@model OSNB.ViewModels.UserRoleViewModel
@using (Ajax.BeginForm("AssignRole", "User", null,
            new AjaxOptions
            {
                UpdateTargetId = "updateTargetId",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnSuccess = "AssignRoleUserSuccess",
            }, new { @id = "assignRoleUserForm" }))
{  
   @Html.ValidationSummary(true)
    
    <div id="userAssignRolePage">
        <!-- Error Container -->
        <div class="row-fluid">
            <div class="span12">
                <div id="updateTargetId" class="error">
                </div>
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>
        <!-- RoleName -->
        <div class="row-fluid">
            @foreach (var role in Model.AssignRoles)
            {
                <div class="span3">
                    <label class="checkbox" for="usr-@role.RoleName">
                        <input type="checkbox" id="usr-@role.RoleName" 
                                   name="RoleName" 
                                   value="@role.RoleName" @(Html.Raw(role.IsAssigned ? "checked=\"checked\"" : ""))  />
                        @role.RoleName
                    </label>
                </div>
            }
        </div>
    </div>
}
