@model OSNB.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row-fluid">
    <div class="span12">
        <h3>
            Create a New Account
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <p>
            Use the form below to create a new account.
        </p>
        <p>
            Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
            characters in length.
        </p>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div class="row-fluid">
        <fieldset>
            <legend>Account Information</legend>
            <div class="span12">
                <div class="span6">
                    @Html.LabelFor(model => model.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="span6">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="span12">
                <div class="span6">
                    @Html.LabelFor(model => model.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="span6">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="span12">
                <div class="span6">
                    @Html.LabelFor(model => model.ContactNo)
                    @Html.TextBoxFor(m => m.ContactNo)
                    @Html.ValidationMessageFor(m => m.ContactNo)
                </div>
                <div class="span6">
                    @Html.LabelFor(model => model.MemberBloodGroupId)
                    @Html.DropDownList("MemberBloodGroupId", Model.ddlMemberBloodGroups)
                    @Html.ValidationMessageFor(m => m.MemberBloodGroupId)
                </div>
            </div>
            <div class="span12">
                <div class="span6">
                    @Html.LabelFor(model => model.MemberDistrictId)
                    @Html.DropDownList("MemberDistrictId", Model.ddlMemberDistricts)
                    @Html.ValidationMessageFor(m => m.MemberDistrictId)
                </div>
                <div class="span6">
                    @Html.LabelFor(model => model.MemberZoneId)
                    @Html.DropDownList("MemberZoneId", Model.ddlMemberZones)
                    @Html.ValidationMessageFor(m => m.MemberZoneId)
                </div>
            </div>
            <div class="span12">
                <div class="span6">
                    @Html.LabelFor(model => model.MemberHospitalId)
                    @Html.DropDownList("MemberHospitalId", Model.ddlMemberHospitals)
                    @Html.ValidationMessageFor(m => m.MemberHospitalId)
                </div>
            </div>
        </fieldset>
    </div>
    <br />
    <div class="row-fluid span12">
        <div class="span3">
            <button type="submit" id="btnUserRegisterSubmit" name="btnUserRegisterSubmit" class="btn btn-success btn-small">
                <icon class="icon-hdd icon-white"></icon>
                Submit</button>
        </div>
    </div>
}
<script type="text/javascript">

    $(function () {

        $('#MemberDistrictId').live('change', function () {

            var memberDistrictName = $('#MemberDistrictId option:selected').text();
            var memberDistrictId = $('#MemberDistrictId option:selected').val();
            var viewUrl = '/Account/GetMemberZones/' + memberDistrictId;

            $.get(viewUrl, function (data) {
                if (data != '') {

                    $('#MemberZoneId').html('');
                    $('#MemberZoneId').html(data);

                }
                else {

                }
            });

        });

    });
</script>
