@model OSNB.ViewModels.PostViewModel
@using (Ajax.BeginForm("Add", "Post", null,
        new AjaxOptions
        {
            UpdateTargetId = "updateTargetId",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "AddPostSuccess",
        }, new { @id = "addPostForm" }))
{
    <div id="postAddPage">
        @Html.ValidationSummary(true)
        <!-- Error Container -->
        <div class="row-fluid">
            <div class="span12">
                <div id="updateTargetId" class="error">
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row-fluid">
            <div class="span4">
                <div class="control-label">
                    @Html.LabelFor(model => model.Title)
                </div>
            </div>
            <div class="span8">
                @Html.TextBoxFor(x => x.Title)
            </div>
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <!-- Content -->
        <div class="row-fluid">
            <div class="span4">
                <div class="control-label">
                    @Html.LabelFor(model => model.Content)
                </div>
            </div>
            <div class="span8">
                @Html.TextAreaFor(x => x.Content)
            </div>
            @Html.ValidationMessageFor(x => x.Content)
        </div>

    </div>
}
